<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
    <body>
    <div class="container">
            <h2 class="col-sm-8 d-inline-flex p-2">
             <%= link_to "Dashboard",weight_histories_dash_path%> | <a href="#">Dieta</a>|	<%= link_to "Sair", '/logout' %>
            </h2>
            <%=  image_tag("images.png", class: "rounded float-right",alt: "Rails logo", width: "100") %>
    </div>
    <div class="container"> 
            <div class="center jumbotron">
                <div class="row center">
                    <div class="col-sm-12">
                        <div class="card">  
                            <div class="card-header">
                                Dados Gerais
                            </div>
                            <%if @diet.blank?%>
                                <%= render 'formdiet' %>
                            <%else%>
                                <%= render 'dietview' %>
                            <%end%>
                        </div>

                         <div class="card">  
                            <% if @diet.blank? %>
                                <div class="card-header">
                                    Dieta (Cadastre primeiro Dados Gerais para liberar o formulário de refeições!)
                                </div>
                                <%= render 'formblock' %>
                            <% else %>
                                <div class="card-header">
                                    Dieta
                                </div>
                                <%= render 'formhome' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="container"> 
            <div class="center jumbotron">
                <div class="row center">
                    <div class="col-sm-12">
                        <div class="card">  
                            <div class="card-header">
                                    Refeição
                            </div>
                            <% if @meal.blank? %>
                                <div class="card-body">
                                    <p class="card-text">Nenhuma refeição cadastrada!</p>
                                </div>
                            <% else %>
                                <% @meal.each do |card|%>
                                 <div class="card-body">
                                    <h3 class="card-title"><%= card.meal_type %> | Horario:<%= card.schedule %>|<%= link_to 'X',meal_path(card), method: :delete, data: { confirm: 'Deseja excluir essa Refeição?' } %></td> </h3>
                                    <p class="card-text"><%= card.description %></p>
                                </div>
                                <%end%>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    </body>
</html>