<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
    <div class="container">
            <h2 class="col-sm-8 d-inline-flex p-2">
             <a href="#">Dashboard</a> | <a href="#">Dieta</a>
            </h2>
            <%=  image_tag("images.png", class: "rounded float-right",alt: "Rails logo", width: "100") %>
    </div>
    <div class="container">
            
            <div class="center jumbotron">
                <div class="row center">
                    <div class="col-sm-12">
                        <div class="card">  
                            <div class="card-header">
                                Dados Gerais
                            </div>
                            <%= form_with(url: "#", scope: :session, local: true) do |f| %>
                                <div class="row ">
                                    <div class="col-sm-4">
                                        <%= f.label :start_date, "Data de Inicio" %><%=f.date_field :start_date %>
                                    </div>
                                    <div class="col-sm-6">
                                        <%= f.label :start_date, "Data de Fim" %><%=f.date_field :end_date %>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-2">
                                        <%= f.label :starting_weight, "Peso" %><%=f.text_field :starting_weight %>
                                    </div>
                                    <div class="col-sm-2">
                                        <%= f.label :start_date, "Altura" %><%=f.text_field :end_date %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <%= f.label :start_date, "Peso Ideal" %><%=f.text_field :start_date %>
                                    </div>
                                    <%= f.submit "Salvar", class: "fadeIn first" %>
                                </div>
                            <% end %>
                        </div>

                         <div class="card">  
                            <% if @diet.blank? %>
                                <div class="card-header">
                                    Dieta (Cadastre primeiro Dados Gerais para liberar o formulário de refeições!)
                                </div>
                                <%= render 'formblock' %>
                            <% else %>
                                <div class="card-header">
                                    Dieta
                                </div>
                                <%= render 'formblock' %>
                            <% end %>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                    Refeição
                            </div>
                            <div class="card-body">
                                <p class="card-text">Nenhuma refeição cadastrada!</p>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
    </div>
	<body>

    </body>
</html>