<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
	</head>

	<body>
		<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div class="fadeIn first">
			<%=  image_tag("images.png", alt: "Rails logo", width: "200") %>
			</div>
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
			<%= form_with(url: login_path, scope: :session, local: true) do |f| %>
				<%=f.text_field :email , class: "fadeIn second",  placeholder: "Email"%>
				<%=f.password_field :password , class: "fadeIn third",  placeholder: "Senha"%>
				<%= f.submit "Entrar", class: "fadeIn fourth" %>
			<% end %>
			<!-- Remind Passowrd -->
			<div id="formFooter">
				<%= link_to "Registre-se", '/users/new', class: "underlineHover" %>
			</div>

		</div>
		</div>
	</body>

</html>